

<section class="tc pa3   pt4">
  <article class="hide-child relative ba b--black-20 mw6 center bg-white pt2 br3 pb4" style="max-width: 600px">
  <h2>Log in</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
               <div class="form-inputs">
                    <%= f.input :email, required: false, autofocus: true %>
                    <%= f.input :password, required: false %>
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
               </div>

               <div class="form-actions">
                    <%= f.button :submit, "Log in" %>
               </div>
          <% end %>
          <h5>Don't have an account yet? Create one today!</h3>
          <%= render "devise/shared/links" %>
       </article>
</section>


